/* Стандартные общие стили согласно цветовой гамме макета*/
body {
	margin: 0 auto;
	padding: 0;
	
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
	background-color: #ffffff;
	text-transform: uppercase;
	background-image: url(../img/grey-back.jpg);
	background-repeat: repeat;
	background-position: top center;
}
a {
	text-decoration: none;
}
 /*Стилизация шапки сайта */

 .main-navigation {
 	
 	width: 1440px;
 	margin: 45px auto 35px auto;

 }
 .navigation-content {
	display: flex;
 	justify-content: space-around;
 	align-items: flex-end;

	
 }

 .navigation-content a {
	color: #000000;

 	width: 220px;

	 }
 .site-navigation {
 	display: flex;
 	justify-content: space-between;
 	width: 440px;
 	list-style: none;
 	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
  }

 .site-basket {
 	display: flex;
 	list-style: none;
 	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
 	justify-content: center;
 	width: 220px;
 }
 .contanier {
 	width: 1440px;
 	margin: 0 auto 0 auto;
 }
 .slider-presentation {
 	min-height: 413px;
 	width: 1440px;
 }
 .slider{
 	display: flex;
	justify-content: space-between;
 }
 .slide {
 	display: flex;
 }

 .slide li {
 	list-style: none;
 }
 .slide li:first-child{
 	font-size: 35px;
	line-height: 75px;
 }
  .slide li:nth-child(2){
 	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	color: #5d6367;
	text-transform: none;
 }
 .slide li:last-child{
 	font-size: 16px;
	line-height: 18px;
	height: 35px;
	width: 240px;
	background-color: #fb565a;
	border-radius: 5px;
	text-align: center;
	padding-top: 20px;
	color: #ffffff;

 }
  .slide a{
 color: #ffffff;
 }
  .slide img{
	margin-left: 100px;
  }
  .price-list {
  	
  
  	background-color: #ffffff;
 }
 .price-item {
 	margin: 0 auto 0 auto;
 	width: 1440px;
 	display: flex;
  	justify-content: flex-start;

 }
 .web-site, .applications, .presentations {
 	list-style: none;
 	
 }
.applications, .presentations{
	margin-left: 100px;
}
  .web-site li:nth-child(2),
   .applications li:nth-child(2),
    .presentations li:nth-child(2) {
 	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
 }